 
*{
    margin: 0;
    padding: 0;
}

 
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    padding: 10px ;
    
}

 
/* Navigation Bar: List Styling */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai';  
     
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
     
}

#navbar ul li a{
   color: white;
   display: block;
   font-family: 'STIX Two Text', serif;
   padding: 5px 22px;
   border-radius: 20px;
   text-decoration: none;
    
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

.bgm{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 150%;
    padding: 6px 50px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: fixed;
    
    height: 300%;
    width: 100%;
    z-index: -1;
    opacity: 0.92;
}

#home h1{
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:ghostwhite;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}
.form-control{
	font-size: 13px;
	border-radius: 10px;
	width: 14rem;
    height: 2.2rem;
	box-shadow: 0 4px 10px 0 hsl(0deg 0% 100%) inset, 0 4px 10px 0 hsl(240deg 11% 54%), 0 4px 10px 0 #838a8a inset, 0 4px 10px 0 hsl(240deg 48% 83%);
}

/* Utility Classes */
.h-primary{
    font-size: 3.9rem;
    padding: 4px;
}
.btn{
    position: relative;
    text-align: center;
    width: 262px;
    padding: 12px;
    font-size: 22px;
    color: blue;
    font-family:'Roboto Slab', serif;
    font-weight: 359;
    border: 4px solid #223c3b;
    text-transform: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 100px;
    opacity: 0.84;
}
.btn:hover
{
    box-shadow: 0 4px 10px 0 #78d6d3 inset, 0 4px 10px 0 #15f4ee,
                0 4px 10px 0 #78d6d3 inset, 0 4px 10px 0 #15f4ee;
}

  

body{
    min-height: 100vh;
     
}

#container{
    position: relative;
    color: white;
    text-align: center;
    font-size: 0.96rem;
    font-weight: bold;
    margin-top: 260px;
    /* background: black; */
    padding-bottom: 14px;
}

 








    


