 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }  
 
 
.bgm{
    width: 100%; 
    position: absolute;
    z-index: -1;
    opacity: 1;
}
 
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    
}

#navbar::before{
    content: "";
    background-color: rgb(123, 82, 235);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    padding: 10px ;
    
}

 
/* Navigation Bar: List Styling */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai';  
     
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
     
}

#navbar ul li a{
   color: white;
   display: block;
   font-family: 'STIX Two Text', serif;
   padding: 5px 22px;
   border-radius: 20px;
   text-decoration: none;
    
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 150%;
    padding: 6px 50px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: fixed;
    height: 300%;
    width: 100%;
    z-index: -1;
    opacity: 0.92;
}

 
#home h1{
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
    margin-top: 170px;
}

#home p{
    color:ghostwhite;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}
.form-control{
	font-size: 13px;
	border-radius: 10px;
	width: 14rem;
    height: 2.2rem;
	box-shadow: 0 4px 10px 0 hsl(0deg 0% 100%) inset, 0 4px 10px 0 hsl(240deg 11% 54%), 0 4px 10px 0 #838a8a inset, 0 4px 10px 0 hsl(240deg 48% 83%);
}

/* Utility Classes */
.h-primary{
    font-size: 3.9rem;
    padding: 4px;
}
.h-secondary{
    font-size: 1.9rem;
    padding: 4px;
    color: blue;
    font-family: 'Bree Serif', serif;
}
.btn{
    position: relative;
    text-align: center;
    width: 262px;
    padding: 12px;
    font-size: 22px;
    color: blue;
    font-family:'Roboto Slab', serif;
    font-weight: 359;
    border: 4px solid #223c3b;
    text-transform: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 100px;
    opacity: 0.84;
}
.btn:hover
{
    box-shadow: 0 4px 10px 0 #788ed6 inset, 0 4px 10px 0 #5815f4,
                0 4px 10px 0 #8978d6 inset, 0 4px 10px 0 #1915f4;
}
 

.container{
    position: relative;
    color: rgb(246, 243, 243);
    text-align: center;
    font-size: 0.99rem;
    font-weight: bold;
    margin: 460px 0px 0px 0px ;
    background: rgb(123, 82, 235); 
    padding-bottom: 14px;
}



/* About Page  */
h2{
    color: rgb(20, 20, 20);
    font-family: 'Bree Serif', serif;
     
}

#bgm1{
    width: 100%; 
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

#container1{
    position: relative;
    color: rgb(246, 243, 243);
    text-align: center;
    font-size: 0.99rem;
    font-weight: bold;
    margin: 280px 0px 0px 0px ;
    background: rgb(123, 82, 235); 
    padding-bottom: 14px;
}

.card {
    border-radius: 50px;
    position: relative;
    padding: 30px;
    margin: 80px 100px 100px;
    height: 500px;
    box-shadow: 0 -4px 10px #dfe2e2 ,0 4px 10px 0 #5815f4;
  }

/* Contact page */
#container2{
    position: relative;
    color: rgb(246, 243, 243);
    text-align: center;
    font-size: 0.99rem;
    font-weight: bold;
    margin: 360px 0px 0px 0px ;
    background: rgb(123, 82, 235); 
    padding-bottom: 14px;
}






    


